<head>
	<title><%= result.name %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">
	<% if(err && err.length > 0) { %>
	<div class="alert alert-danger" role="alert">
		<%= err %>
	</div>
	<% } %>
	<% if (succ && succ.length > 0) { %>
	<div class="alert alert-success" role="alert">
		<%= succ %>
	</div>

	<% } %>
	<br>

	<div class="row">
		<div class="col-sm">
			<h2 style="word-break: break-all; " > <%= result.title %> </h2>
			<br>
			<div class="col-sm">
			<% if(!isSubscribed) { %>
			<form action="/event/subscribe" method="post" id='subForm'>
				<input type="hidden" name="event_id" value=<%=result.event_id%> />
				<button type="submit" class="btn btn-info btn-sm">Subscribe</button>
			</form>
			<% } else { %>
			<form action="/event/unsubscribe" method="post" id='unsubForm'>
				<button type="submit" class="btn btn-info btn-sm">Unsubscribe</button>
				<input type="hidden" name="event_id" value=<%=result.event_id%> />
			</form>
			<% } %>
		</div>
		<div class="col-sm" style="margin-bottom:5px;">
			<a href="/event/tickets/<%=result.event_id%>" class="btn btn-info btn-sm">Buy Tickets</a>
		</div>
			<br>
			<div class="form-group col-md-6">
				<h4>Location</h4>
				<label style="word-break: break-all;"><%= result.location %></label>
			</div>
			<div class="form-group col-md-6">
				<h4>Date</h4>
				<label style="word-break: break-all;"><%= result.date.getDate() %>/<%= result.date.getMonth()+1%>/<%= result.date.getFullYear() %></label>
			</div>
			<div class="form-group col-md-6">
				<h4>Description</h4>
				<div style="word-break: break-all;"><%= result.description %></div>
			</div>
			<div class="form-group col-md-6">
				<h5>Menus:</h5>
				<table>
					<% for(var i=0; i < menus.length; i++) { %>
					<tr>
						<td><a target='_blank' href='/event/viewMenu/<%= menus[i].filename %>'  > <%= menus[i].menuName %></a></td>
					</tr>
					<% } %>
				</table>

			</div>
		</div>
		<div><a href="/live/<%=result.event_id%>"><button style ="width: 100%;margin: 2px;" class="btn btn-danger">Event is Live Now!</button> </a></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script> $("#datepicker").datepicker(); </script>
