<head>
	<title>Events</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login/landingPage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tickets">My Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
	<% if(err && err.length > 0) { %>
		<div class="alert alert-danger" role="alert">
		  Error in details provided: <%= err %>
		</div>
	<% } %>
	<% if (succ && succ.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= succ %>
		</div>
	<% } %>
	<br>
	<h2>Events</h2>
	<br>
	<div class= "row">
		<%if(events.length == 0) { %>
			<h6> No Events to display! </h6>
		<% } %>
		<% for(let event of events) { %>
				<div class="col-lg" style="padding:5px;">
					<div class="card" style="width:20rem; padding:15px;border-color:#0181C6; border-style:solid; border-radius:8px; border-width:medium">
				  	<div class="card-body">
					    <h5 class="card-title"><%= event.title%></h5>
					    <h6 class="card-subtitle mb-2 text-muted"><%= event.date.toDateString() %></h6>
					    <p class="card-text"><%= event.location%></p>
					    <a href="/event/view/<%=event.event_id%>" class="btn btn-sm btn-outline-primary">Event Page</a>
				  	</div>
					</div>
				</div>
		<% } %>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
