<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Profile</h3>
                <% if (user) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>name</strong>: <%= user.name %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %><br>
                        <strong>type</strong>: <%= user.type %><br>
                    </p>
                <% } %>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Actions</h3>
            <br>
            <div id="buttons">
                <a class="btn btn-primary" href="/grant/admin" role="button" id='createBtn'>Grant Admin Access</a>
            </div>

            <div id="buttons">
                <a class="btn btn-primary" href="/previous/guests" role="button" id='createBtn'>View Previous Guests</a>
            </div>
        </div>

    </div>     
            

</div>



</body>
</html>