<head>
	<title>Events</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br>
<a href="/event/view/<%=event_id%>"><button class="btn btn-primary">Return to event</button> </a>
<body class="container">		
	<br>
	<div style="text-align: center;font-size:2em;"><%=eventName%> - Table Plan</div>
	<br>
	<% if (succ && succ.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= succ %>
		</div>
	<% } %>
	<% if(table.length>0){%>
	<div class= "row">			
			<% for(var i=0; i < table.length; i++) { %>
			<div class="col-md-4" style="padding:5px;">
				<div class="card" style="width:20rem; padding:15px;border-color:#0181C6; border-style:solid; border-radius:8px; border-width:medium">
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Table <%= table[i].tableNumber%></h5>
					<h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
							<% for(var j=0; j < table[i].tableLabels.length; j++) { %>
								<%= table[i].tableLabels[j]%>
								<%if(j!=table[i].tableLabels.length-1){%>
								,
								<%}%>

							<% }%> 
					</h6>
					<p class="card-text">
							<% for(var x=0; x < table[i].seatLabels.length; x++) { %>
								Seat <%= x+1%> : <%= table[i].seatLabels[x]%><br>
							<% }%> 
					</p>		
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal<%=i%>">Edit</button>				
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%=i%>">Delete</button>							
					<!-- Edit Model-->
					<form action="/table/edit/<%= table[0].eventId %>/<%= table[i].tableNumber %>/<%=table[0].tableLabels.length %>" method="post" id='form'>
								<div id="myModal<%=i%>" class="modal fade" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button"style="float:left;margin:0;" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title" style="float:left">Table <%= table[i].tableNumber%></h4>
											</div>
											<div class="modal-body" >
											<div style="margin:10px; text-align: center;">Table Labels</div>														
											
											<input type="name" name="label-0" class="labels0> form-control" value="<%= table[i].tableLabels[0]%>" name="label" rows="5" required><br>												
																				
											
												<div style="padding:2px;text-align: center;">Seat Allocation</div>
												<% for(var x=0; x < table[i].seatLabels.length; x++) { %>
													Seat <%= x+1%> :<textarea type="name" class="form-control" name="seat-<%=x%>" rows="1" required><%= table[i].seatLabels[x]%></textarea> <br>
												<% }%> 
											</div>
											<div class="modal-footer">		
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>							
												<button type="submit" class="btn btn-success">Confirm</button>
											</div>
										</div>
									</div>
								</div>			    
							</div>		
						</form>		
						<!-- Delete Model-->
						<div class="row">
								<form action="/table/delete/<%=event_id%>/<%=table[i].tableNumber%>" method="post" id='form'>
									<div id="deleteModal<%=i%>" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button"style="float:left;margin:0;" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title" style="float:left">Delete Table</h4>
												</div>
												<div style="padding:10px;">
													<label >Are you sure you want to <b>delete table <%= table[i].tableNumber%>?</b></label>
												</div>
												
												<div class="modal-footer">		
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>							
													<button type="submit" class="btn btn-success">Confirm</button>
												</div>
											</div>
										</div>
									</div>		
								</form>	
							</div>


					</div>
				</div>	
				<%}%>
			</div>			
			
		
		</div>
			<%}else{%>
			<div style="text-align:center">-No tables allocated-</div>
			<%}%>
			<div class="row">
				<button type="button" style="margin-bottom:10px;"class="btn btn-warning" data-toggle="modal" data-target="#tableModal">Create Table</button>				
				<form action="/table/create/<%=event_id%> %>" method="post" id='form'>
					<div id="tableModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button"style="float:left;margin:0;" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title" style="float:left">Create Table</h4>
								</div>
								<div style="padding:10px;">
									<label >How many seats?</label>
									<input type="number" class="form-control" min="1" max="25" value="" name="seats" rows="5" required>
								</div>
								
								<div class="modal-footer">		
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>							
									<button type="submit" class="btn btn-success">Confirm</button>
								</div>
							</div>
						</div>
					</div>		
				</form>	
			</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
		$( document ).ready(function() {
			var num = $('.labels'+ $(this).data("table")).length;
			$(".addLabel").on("click", function () {
				$('#noLabels' + $(this).data("table")).hide();				
				$('#labelGroup' + $(this).data("table")).append('<input type="name" name="label-' +num+'" class="form-control" value="" name="label" rows="5" required><br>');
				num = num + 1;
			});
	
		});
</script>